.container{
    margin-left:50px;
    margin-right: 50px;
    font-family: sans-serif;
}
.heading{
    background-color: #808080;
    text-align: center;
}
.btn{
    padding-bottom: 20px;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row{
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: row;
    
}

.box{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:#2CC990;
    color:white;
    height: 180px;
    width:33.33%;
    border: 1px solid black;
    font-size:60px;
    border-top: white;
}
@media only screen and (max-width: 900px) {
    .row{
      width: 100%;
    }
}  